<section class="panel">
	{% if post.hide %}
	<div class="intro color2 {{ post.color }}">
		<h2 class="major">{{ post.title }}</h2>
    <p>{{ post.content }}</p>
	</div>
	{% endif %}
  <div class="gallery">
  {% for image in post.images %}
    {% if image.size == 'full' %}
      <div class="image" style="
        background-image: url({{ image.path | prepend: site.baseurl }});
        background-size: cover;
        width: 200px;
        height: 300px;
        flex: 100;
      "></div>
    {% else %}
      <div class="image" style="
        background-image: url({{ image.path | prepend: site.baseurl }});
        background-size: cover;
        width: 100px;
        height: 100px;
        flex: 50;
      "></div>
    {% endif %}
  {% endfor %}
  </div>
</section>
